[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile="{{ php_home }}/var/run/php-fpm.pid"
ExecStart="{{ php_home }}/sbin/php-fpm" --nodaemonize --fpm-config "{{ php_home }}/etc/php-fpm.conf"
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

