[www]
listen = 127.0.0.1:9000
listen.allowed_clients = 127.0.0.1
listen.backlog = -1
listen.owner = {{ ansible_ssh_user }}
listen.group = {{ ansible_ssh_user }}
listen.mode = 0666
user = nobody
group = nobody
pm = static
pm.max_children = {{ ansible_memtotal_mb // 100 * 75 // 20 }}
pm.max_requests = 1000
pm.status_path = /status
ping.path = /ping
ping.response = pong
request_terminate_timeout = 0
request_slowlog_timeout = 10s
slowlog = "{{ php_home }}/var/log/$pool.log.slow"
