[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile="{{ project_install_dir_softlink }}/var/run/php-fpm.pid"
ExecStart="{{ project_install_dir_softlink }}/sbin/php-fpm" --nodaemonize --fpm-config "{{ project_install_dir_softlink }}/etc/php-fpm.conf"
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

