[www]
listen = 127.0.0.1:9000
listen.allowed_clients = 127.0.0.1
listen.backlog = -1
listen.owner = {{ ansible_ssh_user }}
listen.group = {{ ansible_ssh_user }}
listen.mode = 0666
user = {{ ansible_ssh_user }}
group = {{ ansible_ssh_user }}
pm = static
pm.max_children = {{ ansible_memtotal_mb // 100 * 70 // 20 }}
pm.max_requests = 1500
pm.status_path = /status
ping.path = /ping
ping.response = pong
request_terminate_timeout = 0
request_slowlog_timeout = 10s
slowlog = "{{ project_base_dir }}/{{ project_name }}-{{ project_version }}/var/log/$pool.log.slow"
